{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "_resources": "./src/resources",
          "_users": "./src/resources/users",
          "_config": "./src/config",
          "_utils": "./src/utils",
          "@lib": "./src/utils/lib"
        }
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true
      }
    ]
  ],
  "ignore": ["**/node_modules/**","./src/public/js"]
}
