<header class="main-content-header">
  <div class="breadcrumb">
    <div class="base breadcrumb__path">Home</div>
    <div class="breadcrumb__path active">Vote</div>
  </div>
  <h2 class="greeting-msg">Hi, welcome back</h2>
</header>
