<div class="main-page__navbar">
  <div class="burger-menu">
    <input type="checkbox" id="menu-toggler" class="burger-menu__checkbox" />
    <label for="menu-toggler" class="burger-menu__label"></label>
  </div>

  <ul class="top-navbar">
    <li class="top-navbar__item"><%- include('navbar/_lang-dropdown') %></li>
    <li class="top-navbar__item"><%- include('navbar/_notif-dropdown') %></li>
    <li class="top-navbar__item"><%- include('navbar/_user-dropdown') %></li>
  </ul>
</div>
