<ul class="list-candidates has-loader">
  <li>
    <div class="loading-container">
      <ul class="bubble-container">
        <li class="bubble-item"></li>
        <li class="bubble-item"></li>
        <li class="bubble-item"></li>
        <li class="bubble-item"></li>
      </ul>
    </div>
  </li>
</ul>
