<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/logo/favicon-32x32.png"
      type="image/x-icon"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="title-holder">
      <h1 class="title">Welcome Faouzi Mohamed</h1>
    </div>
    <div class="list-candidates-wrapper">
      <p class="candidate-list">List of candidate</p>
      <ul class="list-candidates"></ul>
    </div>
    <button class="become-candidate">Become candidate</button>
    <button class="getCandidate">Get candidates</button>
    <div class="isCandidate">
      <label for="candidateStatus">Candidate status</label>
    </div>
    <script type="module" src="/js/main.js" async></script>
  </body>
</html>
