<div class="title-holder">
  <h1 class="title">Welcome Faouzi Mohamed</h1>
</div>
<div class="list-candidates-wrapper">
  <p class="candidate-list">List of candidate</p>
  <ul class="list-candidates"></ul>
</div>
<button class="become-candidate">Become candidate</button>
<button class="getCandidate">Get candidates</button>
<div class="isCandidate">
  <label for="candidateStatus">Candidate status</label>
</div>
