<div class="chart-btn-tab-wrapper">
  <div class="btn-tab-container">
    <button
      data-chart="donut"
      class="btn-tab btn-tab__tab1 btn btn-primary active-tab"
    >
      Tab 1
    </button>
    <button data-chart="bar" class="btn-tab btn-tab__tab2 btn btn-primary">
      Tab 2
    </button>
    <button data-chart="bar" class="btn-tab btn-tab__tab3 btn btn-primary">
      Tab 3
    </button>
  </div>
  <div class="chart-tab-container">
    <div id="chart" class="chart"></div>
  </div>
</div>
