<main class="main-content">
  <header class="main-header">
    <h1 class="section-title-greeting">Hello <%= user.name.last %></h1>
  </header>
  <!-- prettier-ignore -->
  <% candidates.forEach((c) =>{ %> 
    <% let name, cin; %> 
    <% name=`${c.first} ${c.last}`; cin=c.cin; %> 
    <%- include('vote-partials/candidateCard',{name, cin});%> 
  <% }) ;%>
</main>
<script>
  // const getDataFromCookie = (cookieName) =>
  //   document.cookie
  //     .split('; ')
  //     .find((token) => token.startsWith(cookieName))
  //     .split('=')[1];
  // const redirectTo = (path) => {
  //   window.location.href = path;
  // };
  // const decodeCookie = (cookieName) => decodeURIComponent(cookieName);
  // let cookie;
  // try {
  //   cookie = JSON.parse(decodeCookie(getDataFromCookie('ps')));
  // } catch (error) {
  //   console.log(error);
  //   // TODO: invalidate session and redirect to login page
  //   // redirectTo('/login');
  // }

  // const buttons = document.querySelectorAll('.vote-btn');
  // buttons.forEach((button) => {
  //   const candidateCIN = button.dataset.candidate;
  //   button.addEventListener('click', (e) => {
  //     const ballot = {
  //       VoterId: cookie.UID,
  //       voted: candidateCIN,
  //     };
  //     console.log('useris', JSON.parse(decodeCookie(getDataFromCookie('ps'))));
  //     console.log('Candidate N° : ', candidateCIN);
  //   });
  // });

  // async function getEntityPublicKey(entity) {
  //   return fetch(`/api/keys/public/${entity}`).then((res) => res.json());
  // }
  // async function postData({ url = '', data = {}, stringify = true }) {
  //   const response = await fetch(url, {
  //     method: 'POST',
  //     headers: { 'Content-Type': 'application/json' },
  //     body: stringify ? JSON.stringify(data) : data,
  //   });
  //   return response.json();
  // }
  // async function runVoteProcess() {
  //   const serverPubkey = await getEntityPublicKey('server');
  //   const countCenterPubkey = await getEntityPublicKey('countCenter');
  //   const valCenterPubkey = await getEntityPublicKey('countCenter');
  //   const aesKey = 'jkhfkfhjf588_dhe1kf452';

  //   const userKeys = await postData({
  //     url: '/api/keys/all/user/cin/10114',
  //     data: { aesKey },
  //   });
  // }
  // runVoteProcess();
</script>
