<main class="main-content">
  <!-- prettier-ignore -->
  <% candidates.forEach((c) =>{ %> 
    <% let name, cin; %> 
    <% name=`${c.first} ${c.last}`; cin=c.cin; %> 
    <%- include('vote-partials/candidateCard',{name, cin});%> 
  <% }) ;%>
</main>
