<div class="candidate-cards-wrapper has-loader">
  <div class="loading-container">
    <ul class="bubble-container">
      <li class="bubble-item"></li>
      <li class="bubble-item"></li>
      <li class="bubble-item"></li>
      <li class="bubble-item"></li>
    </ul>
  </div>
</div>
