<main class="main-content">
  <header class="main-header">
    <h1 class="section-title-greeting">Hello <%= user.name.last %></h1>
  </header>
  <!-- prettier-ignore -->
  <% candidates.forEach((c) =>{ %> 
    <% let name, cin; %> 
    <% name=`${c.first} ${c.last}`; cin=c.cin; %> 
    <%- include('vote-partials/candidateCard',{name, cin});%> 
  <% }) ;%>
</main>
