*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auth-form, .main-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  width: 100%;
  height: 100%;
}

:is(a, a:visited):hover, :is(a, a:visited):focus {
  text-decoration: underline;
}

.main-body {
  height: 100%;
  background-image: linear-gradient(-45deg, peru 50%, cyan 60%);
}

.reset-btn,
.submit-btn, .body-content {
  border-radius: 0.5625rem;
}

.reset-btn,
.submit-btn, .title {
  text-align: center;
}

.body-content {
  padding: 0.5625rem;
  color: #f3feff;
  background-image: linear-gradient(#352b01a6 20%, #010d245e 80%, #0001028a 98%);
  box-shadow: 1px 2px 15px 2px #000f0785;
}

.title {
  font-size: 2em;
}

.auth-form {
  font-size: 1.4em;
}

.form-content {
  width: 22em;
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: #00454599;
}

.label-auth,
.pass-auth {
  display: block;
}

.input-field {
  width: 100%;
  height: 2.6em;
  padding-inline-start: 0.3rem;
  border-radius: 0.4rem;
}

.row-content:not(:last-child) {
  padding-block-end: 0.5em;
}

.btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 0.3em;
}

.reset-btn,
.submit-btn {
  display: block;
  padding: 0.3em;
  border: 1px solid #80808057;
  font-size: 0.7em;
  cursor: pointer;
}

.reset-btn {
  color: white;
  background-color: darkslategrey;
  box-shadow: 1px 2px 3px black;
}

.submit-btn {
  color: azure;
  background-color: #002866;
  box-shadow: 1px 2px 3px black;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #022045;
}

.reset-btn:hover,
.reset-btn:focus {
  background-color: #284242;
}

.load-spinner {
  animation-direction: alternate;
  animation-duration: 9500s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: rotation;
  animation-timing-function: ease;
  border-color: transparent transparent black black;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@keyframes rotation {
  from {
    transform: rotate(-9999999deg);
  }
  to {
    transform: rotate(9999999deg);
  }
}

.action-btn {
  display: inline-block;
  padding: 0.5em;
  font-size: 0.9rem;
  min-width: 9rem;
  font-weight: bold;
  font-family: serif;
  border: 1px solid #01f28d;
  border-radius: 1rem;
  background-color: #30ffff;
  box-shadow: 1px 1px 8px #00240b;
  color: #050022de;
  cursor: pointer;
  margin-top: 1rem;
  background-image: linear-gradient(to bottom right, #39ce7a, #00fa56 50%, #008037 90%);
}

.action-btn:hover,
.action-btn:active {
  background-color: #ffe375;
  border-color: #ffb772;
  box-shadow: 1px 1px 8px #fbcca0;
  color: #022323;
  background-image: linear-gradient(to left, #f0d093, #ff7f03 50%, #e7cd81 80%);
}

.action-btn:active {
  background-image: linear-gradient(to top left, #e69f18, #fd291e 50%, #f7c739 80%);
  color: black;
}

.action-btn-error {
  border: 1px solid #d30404;
  background-color: #860000;
  box-shadow: 1px 1px 8px #680000;
  color: #ffffffde;
  background-image: linear-gradient(to bottom right, #4c1d00, #e31702 50%, #370106 90%);
}

.action-btn-error:hover,
.action-btn-error:active {
  background-color: #b70303;
  border-color: #9b451b;
  box-shadow: 1px 1px 8px #c10c0c;
  color: #fff;
  background-image: linear-gradient(to left, #5a0212, #df0a0a 50%, #a40000 80%);
}

.action-btn-error:active {
  background-image: linear-gradient(to top left, #920440, #af0b03 50%, #6b0014 80%);
  color: #fff0f0;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=auth.css.map */
