<button class="top-navbar__btn lang-btn">
  <img
    src="/images/icons/english.svg"
    class="lang-flag"
    alt="English flag"
    width="50"
  />
  <div class="lang-drop-down hidden" aria-hidden="true">
    <ul class="lang-list">
      <li class="lang-item" tabindex="0" data-lang="en">
        <img
          src="/images/icons/english.svg"
          alt="English"
          class="lang-img"
          data-lang="en"
        />
        <span class="lang-text">English</span>
      </li>
      <li class="lang-item" tabindex="0" data-lang="fr">
        <img
          src="/images/icons/french.svg"
          alt="French"
          class="lang-img"
          data-lang="fr"
        />
        <span class="lang-text">French</span>
      </li>
    </ul>
  </div>
</button>
