<div class="candidate-card">
  <div class="candidate-card-item candidate-img-wrapper">
    <!-- <i class="fad fa-user candidate-icon"></i> -->
    <img
      src="/images/profile.jpeg"
      width="200"
      class="candidate-img"
      alt="photo"
    />
  </div>
  <div class="candidate-card-item candidate-description">
    <div class="candidate-desc-wrapper">
      <h1>
        <a href="/candidate/<%= cin %>" class="link-to-candidate">
          <%= name%>
        </a>
      </h1>
      <small class="candidate-desc">
        Big Data enthusiast, computer science memer
      </small>
    </div>
  </div>
  <div class="candidate-card-item vote-wrapper">
    <div class="checkbox-input-wrapper">
      <small class="prevent-before-vote">Activate here → </small>
      <label id="switch" class="switch">
        <input type="checkbox" id="slider" class="hidden vote-checkbox" />
        <span class="slider round"></span>
      </label>
    </div>

    <button
      class="vote-btn"
      data-candidate="<%= cin %>"
      title="Click here to vote for <%= name %>"
    >
      Vote now
    </button>
  </div>
</div>
