<div class="left-side">
  <div class="site-logo">
    <a href="/" class="site-logo__link">
      <img
        src="/images/e-vote-ws.svg"
        alt="Website logo"
        class="site-logo__img"
        width="200"
      />
    </a>
  </div>
</div>
