<% if (error) { %>
<section class="error">
  <p class="error-message"><%= error %></p>
</section>
<% } %>
<!-- prettier-ignore -->
<% if (success) { %>
<section class="error">
  <p class="success-message"><%= success %></p>
</section>
<% } %>
