@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.15.2/css/all.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

a,
a:visited {
  color: #022045;
  text-decoration: none;
}

:is(a, a:visited):hover,
:is(a, a:visited):focus {
  text-decoration: underline;
}
