*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(6, 36, 71);
}
.logo-img {
  flex-grow: 0;
}
.nav-bar {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: flex-start;
}

/* toogle */
.toggle-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(7, 0, 36);
}

.menu-toggler-label {
  position: relative;
  display: block;
  width: 3em;
  padding-left: 0.3em;
  cursor: pointer;
}

.menu-toggler-label::before,
.menu-toggler-label::after {
  display: block;
  height: 4px;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  content: '';
}

.menu-toggler-label::before {
  box-shadow: 0 10px 0 #fff;
}

.menu-toggler-label:hover::before,
.menu-toggler-label:hover::after,
.menu-toggler-label:focus::before,
.menu-toggler-label:focus::after {
  background-color: #f69f02;
}

.menu-toggler-label:hover::before {
  box-shadow: 0 10px 0 #f69f02;
}

.checkbox-toggle-menu:not(:checked) + .menu-toggler-label::before {
  margin-bottom: 1em;
}

.checkbox-toggle-menu:checked + .menu-toggler-label::before {
  box-shadow: none;
  transform: translateY(0.1em) rotate(495deg);
}

.checkbox-toggle-menu:checked + .menu-toggler-label::after {
  transform: translateY(-0.1em) rotate(-495deg);
}

.checkbox-toggle-menu {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
  opacity: 0;
}

.menu-toggler-text {
  display: block;
  flex: 1;
  align-self: stretch;
  color: antiquewhite;
  text-align: center;
  padding-block: 0.655em;
}

/* toogle */

/* ul */
.main-header-list {
  position: absolute;
  top: 100%;
  z-index: 5555;
  display: flex;
  flex-direction: column;
  gap: 0.06em;
  justify-content: flex-start;
  width: 65%;
  list-style-type: none;
  background-color: #f4f5ff;
}

.list-item {
  background-color: aqua;
}
.nav-link {
  display: flex;
  padding: 1em;
  color: rgb(240, 253, 253);
  text-decoration: none;
  background-color: rgb(0, 33, 48);
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  background-color: #010933;
}
.link-item-text {
  display: inline-block;
  padding-inline-start: 0.7em;
}

.hidden {
  display: none;
}

@media (min-width: 780px) {
  .main-header-list {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
    background-color: rgb(0, 33, 48);
  }

  .head {
    display: flex;
  }
  .navigation {
    display: flex;
    width: auto;
    align-items: unset;
  }
  .logo-link-wrapper {
    display: flex;
    height: 100%;
    margin: 0;
    border-right: 1px solid gray;
    background-color: #002130;
    padding-inline: 15px;
  }

  .toggle-menu-wrapper {
    display: none;
  }
}
