@import url('./global.css');

body {
  height: 100%;
  background-image: url('../images/vote.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body,
html {
  height: 100%;
}
.all-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.wrap-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.title-evote,
.text-evote {
  color: white;
}
.text-evote {
  font-size: 30px;
}
.title-evote {
  font-size: 130px;
}
.all-title {
  text-align: center;
}
.navigation {
  position: absolute;
  z-index: 101;
  display: flex;
  width: 100%;
}
.logo-img {
  flex-grow: 0;
}
.wrap-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 18px;
}
.login {
  padding: 10px;
  border-radius: 10%;
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(132, 204, 180);
}
.log-up {
  margin-right: 10px;
  background-color: rgb(214, 148, 109);
}
.login:hover,
.login:focus {
  text-decoration: underline;
}
