@import url('./global.css');

.main-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg, peru 50%, cyan 60%);
}

.body-content {
  background-image: linear-gradient(
    #352b01a6 20%,
    #010d245e 80%,
    #0001028a 98%
  );
  border-radius: 9px 9px;
  box-shadow: 1px 2px 15px 2px #000f0785;
  color: #f3feff;
  padding: 9px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.auth-form {
  align-items: center;
  display: flex;
  font-size: 1.4em;
  justify-content: center;
}

.form-content {
  background-color: #00454599;
  border-radius: 0.4em;
  padding: 0.5em;
  width: 22em;
}

.label-auth,
.pass-auth {
  display: block;
}

.input-field {
  border-radius: 1em;
  height: 2em;
  padding: 1em;
  width: 100%;
}

.row-content:not(:last-child) {
  padding-block-end: 0.5em;
}

.btn-row {
  display: flex;
  gap: 0.3em;
  justify-content: flex-end;
}

.reset-btn,
.submit-btn {
  border: 1px solid #80808057;
  border-radius: 9px;
  cursor: pointer;
  display: block;
  font-size: 0.7em;
  padding: 0.3em;
  text-align: center;
}

.reset-btn {
  background-color: darkslategrey;
  box-shadow: 1px 2px 3px black;
  color: white;
}

.submit-btn {
  background-color: #002866;
  box-shadow: 1px 2px 3px black;
  color: azure;
}

.submit-btn:hover {
  background-color: #022045;
}

.reset-btn:hover {
  background-color: #284242;
}
