<div class="left-side-parent">
  <div class="left-side">
    <header class="left-side__header">
      <a href="/" class="left-side__site-logo-link">
        <img
          src="/images/e-vote-ws.svg"
          width="70"
          alt="Website logo"
          class="left-side__site-logo"
        />
      </a>
      <!-- prettier-ignore-->
      <%- include("./left-side/_userbox") %> 
      <%-include("./left-side/_navigation") %>
    </header>
  </div>
</div>
