<main class="main-content-root">
  <%- include("./main-content/_breadcrumbs") %>
  <div class="main-content">
    <!-- prettier-ignore -->
    <%- include("./main-content/modals-container/_candidates") %> 
    <%- body %>
  </div>
</main>
