<header class="head">
  <div class="navigation">
    <div class="logo-img">
      <a href="/" class="logo-link-wrapper">
        <img src="/images/e-vote-ws.svg" width="70" alt="Logo" />
      </a>
    </div>
  </div>

  <nav class="nav-bar">
    <div class="toggle-menu-wrapper">
      <input type="checkbox" id="menu-toggler" class="checkbox-toggle-menu" />
      <label for="menu-toggler" class="menu-toggler-label"></label>
      <label for="menu-toggler" class="menu-toggler-text">Menu</label>
    </div>
    <ul class="main-header-list">
      <li class="list-item">
        <a href="/vote" class="nav-link">
          <i class="fas fa-vote-yea"></i>
          <span class="link-item-text">Vote</span>
        </a>
      </li>
      <li class="list-item">
        <a href="/vote-result" class="nav-link">
          <i class="fas fa-poll"></i>
          <span class="link-item-text">Result</span>
        </a>
      </li>
      <li class="list-item">
        <a href="/about" class="nav-link">
          <i class="fas fa-person-sign"></i>
          <span class="link-item-text">About</span>
        </a>
      </li>
      <li class="list-item">
        <a href="/logout" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
          <span class="link-item-text">Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
