<div class="user-menu-card-and-profile-pic" aria-label="menu">
  <div class="scaled-profile-pic-wrapper">
    <img
      alt="User profile picture"
      class="user-profile-picture-scaled"
      src="/images/coder.gif"
      title="<%= user.username %>'s profile picture"
      width="40"
    />
    <i class="fas fa-sort-down sort-down"></i>
  </div>
  <div class="user-card-wrapper hidden">
    <div class="top-arrow"></div>
    <div class="user-profile">
      <figure class="user-figure">
        <div class="user-picture-wrapper">
          <img
            src="/images/coder.gif"
            alt="User profile picture"
            class="user-picture"
            width="138"
            height="138"
          />
        </div>
        <figcaption class="user-name">
          <%= user.name.last %> <%= user.name.first %>
        </figcaption>
      </figure>
    </div>
    <nav class="user-actions-wrapper">
      <ul class="action-wrapper">
        <li class="actions-item">
          <a href="/dashboard" class="action-item-link">
            <i class="far fa-user-alt"></i>
            Dashboard
          </a>
        </li>
        <li class="actions-item">
          <a href="/myaccount" class="action-item-link">
            <i class="far fa-user-alt"></i>
            Account
          </a>
        </li>
        <li class="actions-item">
          <a href="/notifs" class="action-item-link">
            <i class="fas fa-bell"></i>
            Notifications
          </a>
        </li>
        <li class="actions-item">
          <a href="/logout" class="action-item-link">
            <i class="fad fa-sign-out"></i>
            Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
