<div
  class="candidate-modal-container hidden"
  tabindex="-1"
  aria-labelledby="candidate-full-details__name"
  aria-describedby="candidate-modal-description"
  aria-hidden="true"
  id="candidate-modal-container"
></div>
