<nav class="navbar">
  <a href="/" class="navbar__logo">
    <img
      src="/images/e-vote-ws.svg"
      alt="Evote app Logo"
      class="navbar__logo__img"
    />
  </a>
  <div class="navbar__links">
    <a
      href="/register"
      class="btn btn-primary navbar__links__item btn-link signup-btn"
    >
      <%= content[lang].signUpBtn %>
    </a>
    <a
      href="/login"
      class="btn btn-secondary navbar__links__item btn-link signin-btn"
      ><%= content[lang].loginBtn %></a
    >
  </div>
</nav>
